{% extends 'base.html' %}
{% load static %}

{% block title %}team{% endblock title %}

{% block more_links %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock more_links %}

{% block main_content %}
	<div class="span9">
		<p>
			Meet the Squad
		</p>
	</div>

	<div>
	  	<div class="form">
	   		<form class="register-form">
	   			<input type="text" placeholder="name"/>
	   			<input type="password" placeholder="password"/>
	      		<button>create</button>
	      		<p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
	    	</form>
	    	<form class="login-form">
	      		<input type="text" placeholder="username"/>
	      		<input type="password" placeholder="password"/>
	      		<button>login</button>
	   			<p class="message">Not registered? <a id="create-account" href="{% url 'signup' %}">Create an account</a></p>
	    	</form>
	  	</div>
	</div>
{% endblock main_content %}

{% block more_scripts %}
{% endblock more_scripts %}