{% extends 'base.html' %}
{% load static %}

{% block title %}team{% endblock title %}

{% block more_links %}
	<link rel="stylesheet" href="{% static 'css/group.css' %}">
{% endblock more_links %}

{% block main_content %}
	<div class="span9">
		<p>
			Meet the Squad
		</p>
	</div>

	<div id="box">
		<img class="round_image" src="{% static 'image/emily.jpg' %}"/>
		<img class="round_image" src="{% static 'image/emily.jpg' %}"/>
		<img class="round_image" src="{% static 'image/emily.jpg' %}"/>
	</div>

{% endblock main_content %}

{% block more_scripts %}
{% endblock more_scripts %}