{% extends 'base.html' %}
{% load static %}

{% block title %}login{% endblock title %}

{% block more_links %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock more_links %}

{% block main_content %}
	<div class="count-particles">
  		<span class="js-count-particles"></span>
	</div>

	<div class="login-page"></div>
		<div id="particles-js">
	  		<div class="form">
	    		<form class="register-form">
	      			<input type="text" placeholder="name"/>
	      			<input type="password" placeholder="password"/>
	      			<input type="text" placeholder="email address"/>
	      			<button>create</button>
	      			<p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
	    		</form>
	    		<form class="login-form">
	      			<input type="text" placeholder="username"/>
	      			<input type="password" placeholder="password"/>
	      			<button>login</button>
	      			<p class="message">Not registered? <a id="create-account" href="{% url 'signup' %}">Create an account</a></p>
	    		</form>
	  		</div>
		</div>
	</div>
{% endblock main_content %}

{% block more_scripts %}
	<script src="{% static 'js/particles.js' %}"></script>
	<script src="{% static 'js/stats.js' %}"></script>
{% endblock more_scripts %}