.table-editable {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;

  .glyphicon {
    font-size: 20px;
    color: #84DCC6;
    background-color: #84DCC6;

  }
}


.contentTableCell {
  border: solid 1px #2C363F;
  max-width: 350px;
  background-color: #FFFFFF;
  color: #2C363F;
}
.table{
  background-color: #2C363F;
  color:#FFFFFF;
}
.table-remove {
  color: #FFFFFF;
  cursor: pointer;

  &:hover {
    color: #000000;
  }
}

.x{
  border-top: none;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
   border-top: none;
}
.table-add {
  color: #84DCC6;
  cursor: pointer;

  &:hover {
    color: #000000;
  }
}

body {
  background-color: #d3d3d3;
}
